table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid black;
    padding: 8px;
}
  
th:nth-child(1),
td:nth-child(1) {
    width: 6%; 
}
  
th:nth-child(2),
td:nth-child(2) {
    width: 28%; 
}
  
th:nth-child(3),
td:nth-child(3) {
    width: 12%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 8%; 
}

th:nth-child(5),
td:nth-child(5) {
    width: 8%; 
}

th:nth-child(6),
td:nth-child(6) {
    width: 12%; 
}

th:nth-child(7),
td:nth-child(7) {
    width: 12%; 
}

th:nth-child(8),
td:nth-child(8) {
    width: 8%; 
}

th:nth-child(9),
td:nth-child(9) {
    width: 6%; 
}
tbody tr:nth-child(odd) {
    background-color: #e0e0e0;
  }
  
  /* Set background color for even rows */
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
p {text-indent:13em;}